<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Candidatos
                </h3>
              </div>
              <div class="panel-body">
                <h2><%= @numero_de_candidatos %></h2> <h3>candidatos foram adicionados ao sistema!</h3>
                
                <hr>
                
              </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    Pesquisas
                </h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>            
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                    Entrevistas
                </h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>            
        </div>
    </div>

</div>