<div class="container">
    <h1>Adicionar Convocado</h1>
    
    <%= render 'form' %>
    <div class="row">
    <div class="btn btn-group">
      <button type="button" class="btn btn-default"><%= link_to 'Back', convocados_path %></button>
    </div>
  </div>
</div>
