<div class="container">
    <br>
    <h1 class="text-center">Importar lista de candidatos</h1>
    <br><br>
    <%= form_tag import_candidatos_path, multipart: true do %>
      <div class="form-group col-md-4 col-md-offset-4 ">
        <%= file_field_tag :file, :class => 'form-control' %><br>
        <%= submit_tag "Importar", :class => 'btn btn-primary center-block'  %>
      </div>
    <% end %>
</div>
